<h1>OH HAI THERE!</h1>

<p>This is an About Me page. Another one? Really? Blech.</p>

<p>How about an "About You" page instead? ;]</p>

<p>You seem to be coming from <%= request.ip %>, which we think is in <%= request.location.city.empty? ? "Nowhere" : request.location.city %>, <%= request.location.country %></p>

<% content_for :extra do %>
      <div class="row">
  <% @about_mes.shuffle[1..3].each do |about| %>
        <div class="span4">
          <h2><%= about.fetch(:title) %></h2>
          <p><%= about.fetch(:content) %></p>
        </div>
  <% end %>
      </div>
<% end %>
